.section-header{
    max-width: 600px;
}
.section-subtitle{
    color: #f2ca1c;
    font-size: var(--large-font-size);
    font-weight: var(--weight-700);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 1rem;
}
.section-title{
    font-size: var(--h1-font-size);
}
.section-description{
   margin-block: 1rem 3rem;
}