/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
    .home-img {
            justify-self: end;
            height: 510px;
        }
        .button {
        padding:8px 18px ;
        font-size: 18px;
        font-weight: 600;
    }

    .destination-container {
        gap: 0.75rem;
    }

    .tours-details {
        padding: 0.5rem;
    }


}

@media screen and (max-width: 1208px) {
    .container {
        max-width: 968px;
    }

    .button {
        padding: 0.125rem 0.75rem;
        font-size: 0.875rem;
    }

    .destination-container {
        gap: 0.75rem;
    }

    .tours-details {
        padding: 0.75rem;
    }
}


@media screen and (max-width: 1024px) {
 .container {
    max-width: 768px;
  }
  .nav {
    height: 3.25rem;
  }
  .nav-close,
  .nav-toggle {
    display: inline-flex;
  }

  .nav-button {
    display: inline-flex;
    margin-top: 2rem; 
    width: fit-content;
  }

   .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(var(--hue), 0%, 100%, 0.9); 
    border-left: 2px solid var(--border-color);
    width: 50%;
    height: 100%;
    padding: 5rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.3s ease;
    z-index: 999;
  }

 
  .nav-menu.show-menu {
    right: 0;
  }

  .nav-item {
    flex-direction: column;
    row-gap: 2rem;
        align-items: start;
  }

  .nav-link {
    font-weight: var(--weight-700);
  }

  .nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .home-container,
  .booking-form,
  .about-container{
    grid-template-columns: 1fr;
  }
  .home-data,
  .section-header,
  .about-content{
    text-align: center;
  }
  .home-title{
    max-width: 400px;
  }
  .home-description{
    max-width: 600px;
  }
    .home-title,
    .home-description,
    .section-header{
        margin-inline: auto;
    }
    .home-img{
        display: none;
    }
    .booking-form{
        row-gap: 1rem;
        padding: 1rem;
        background-color: transparent;
    }
    .booking-to{
        color: var(--white-color);
    }
    .button{
    padding: 0.5rem 2rem;
    }
    .booking-button:hover{
        color: var(--white-color);
        border: 1px solid var(--white-color);
    }
     .booking-to,
      .booking-button{
        justify-self: center;
      }
      .booking-item{
        background-color: var(--white-color);
      }
      .categories,
      .tours{
        position: relative;
        padding-bottom: 4.75rem;
      }
      .tours{
        padding-bottom: 11rem;
      }
      .swiper-btns{
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%);
      }
      .tours .swiper-btns{
        bottom: 6.25rem;
      }
}

@media screen and (max-width: 768px) {
    .nav-menu{
        width: 80%;
    }
    .booking{
        padding-block: 3rem;
    }
    .swiper{
        max-width: 350px;
    }

}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 460px) {}